<%
/**
 * Recall summary card.
 * @param {RecallSummaryProvider} summaryProvider Provider of recall summary information.
 */
%>
<div class="panel <%= summaryProvider.getCardType() %> recall-summary-card recall-class-i">
	<div class="panel-heading">
		<div class="recall-card-toggle" data-toggle="collapse"
			 data-target="#collapse-<%= summaryProvider.getSanitizedRecallId() %>">
			<i class="glyphicon"></i>
		</div>
		<h3 class="panel-title"><%= summaryProvider.getProductDescription() %></h3>
		<h4 class="panel-subtitle">
			<a data-toggle="tooltip" data-placement="bottom" title="<%= summaryProvider.getFirmAddress() %>" href="">
				<%= summaryProvider.getFirmName() %>
			</a> &nbsp;-&nbsp;
			<small>
				<%= summaryProvider.getRecallInitiationDate('MMMM Do, YYYY') %>
			</small>
		</h4>
	</div>
	<div id="collapse-<%= summaryProvider.getRecallId() %>" data-recall-id="<%= summaryProvider.getSanitizedRecallId() %>"
		 class="panel-collapse collapse in">
		<div class="panel-body">
			<p class="recall-reason"><%= summaryProvider.getReasonForRecall() %></p>
		</div>
		<div class="panel-footer clearfix">
			<ul class="list-inline pull-left">
				<li><a class="btn btn-link" href="<%= summaryProvider.getRecallDetailsLink() %>"><i class="glyphicon glyphicon-info-sign"></i> Info</a></li>
			</ul>
			<ul class="list-inline pull-right">
				<li>
					<div data-action="recall-pin" data-recall-id="<%= summaryProvider.getSanitizedRecallId() %>"
						 class="btn btn-link"><i class="glyphicon glyphicon-pushpin"></i> Pin
					</div>
				</li>
				<li>
					<div class="dropup">
						<span class="btn btn-link dropdown-toggle" data-toggle="dropdown"><i
								class="glyphicon glyphicon-share-alt"></i> Share</span>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li role="presentation">
								<a href="#" data-action="recall-copy"
								   data-text="<%= summaryProvider.getShareLink() %>"
								   role="menuitem" tabindex="-1">
									<i class="glyphicon glyphicon-link"></i> Copy
								</a>
							</li>
							<li role="presentation">
								<a href="<%= summaryProvider.getEmailShareLink() %>"
								   role="menuitem"
								   tabindex="-1">
									<i class="glyphicon glyphicon-envelope"></i> E-mail
								</a>
							</li>
							<li role="presentation">
								<a href="#" data-action="recall-fbshare"
								   data-href="<%= summaryProvider.getFacebookShareLink() %>"
								   data-title="<%= summaryProvider.getShareTitle() %>"
								   role="menuitem" tabindex="-1">
									<i class="fa fa-facebook-official"></i> Facebook
								</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>