<% include ./common/header.ejs %>
<% include ./common/brie-core-js.ejs %>
<% if (recall) { %>
<meta property="og:site_name" content="Total Briecall"/>
<meta property="og:locale" content="en_US"/>
<meta property="fb:app_id" content="<%= brie.fbappid %>"/>
<meta property="og:url" content="<%= url + '/details/' + recall.id %>"/>
<meta property="og:title" content="<%= recall.product_description %>"/>
<meta property="og:description" content="<%= recall.reason_for_recall %>"/>
<meta property="og:type" content="article"/>
<meta property="og:image" content="http://graphics.myfavnews.com/images/logo-100x100.jpg"/>
<meta property="article:author" content="<%= url %>"/>
<meta property="article:publisher" content="https://open.fda.gov"/>

</head>
<body class="bg-void">
<div class="navmenu navmenu-default">
	<!-- off-canvas menu goes here -->
</div>
<div class="container-flexible">
	<!-- placeholder for recall details -->
</div>
<section class="container">
	<div class="panel">
		<div class="text-center visible-xs hidden-sm hidden-md hidden-lg">
			<button data-action="load-comments" type="button" class="btn btn-link"><i
						class="glyphicon glyphicon-eye-open"></i> Load comments
			</button>
		</div>
		<div class="comment-log-container hidden-xs visible-sm visible-md visible-lg">
			<header class="panel-heading">
				<h3 style="margin-bottom: 20px; margin-top: 13px;">Recall comments</h3>
			</header>
			<div class="panel-body">
				<ol id="recall-comments" class="list-view empty">
					<!-- recall cards placeholder -->
					<% _.each(recall.comments, function (comment) { %>
					<%= comment.created = moment.unix(comment.created).format(); %>
					<li class="comment-entry">
						<a href="#" title="<%= comment.name %>"><%= comment.name %> from <%= comment.location %></a>
						<small class="event-subtitle text-muted" title="<%= comment.created %>"><%= comment.created %></small>
						<p class="comment-body"><%= comment.comment %></p>
					</li>
					<% }); %>
				</ol>
				<div class="list-view-messages">
					<p class="list-view-loading-message spinner spinner-pulsation spinner-primary">Loading...</p>

					<p class="list-view-empty-message">There are no recall comments.</p>

					<p class="list-view-error-message">Oops, we had trouble retrieving recent recall comments!</p>
				</div>
				<div class="text-center">
					<button type="button" class="btn btn-success hidden" data-action="load-more-comments"><i
								class="glyphicon glyphicon-chevron-down"></i> Load more
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
<script data-main="/js/app-recall" src="/js/require.js"></script>
<% } else { %>
</head>
<body class="bg-void">
<div>
	Error encountered. <%= error.statusCode %> - <%= error.message %>
</div>
<% } %>
</body>
</html>